.App {
  text-align: center;
}

.navbar-brand {
  color: rgb(235, 111, 111);
}

.bg-header {
  background: url("./darkness.png");
}

/* .card-holder img {
  height: 100px;
  width: 150px;
} */

.neon {
  font-family: "Dawning of a New Day", Helvetica, Arial, sans-serif;
  font-size: 10px;
  color: #fff;
  text-shadow: 0 0 5px #fff, 0 0 10px rgb(255, 204, 204), 0 0 20px #fd0054,
    0 0 30px #fd003f, 0 0 40px #fd0054, 0 0 55px #fd0054, 0 0 75px #fd0054;
  text-align: center;
}

.bg-nav {
  background: #eb5757;
  background: -webkit-linear-gradient(to right, #000000, #eb5757);
  background: linear-gradient(to right, #000000, #eb5757);
}

/* .footer-100 {
  bottom: 0;
  height: 50px;
  left: 0;
  width: 100%;
  background: #4e1a1a;
} */

.footer-mgn {
  top: 10px;
}

/* .grow {
  transition: all 0.1s ease-in-out;
}

.grow:hover {
  transform: scale(1.05);
} */

.header-font {
  font-size: 20px;
}

.head-mar-top {
  margin-top: 0px;
}

.header-pad {
  padding: 80px 10px;
}


/* .icon-font {
  font-size: calc(5px + 14 * (50vw - 320px) / 200);
} */

.lodge {
  background: #eb5757;
  background: -webkit-linear-gradient(to right, #000000, #eb5757);
  background: linear-gradient(to right, #000000, #eb5757);
}

.main-content {
  max-width: 70vw;
}

.red {
  color: red;
}

.nav-font {
  font-size: 2vw;
}

.nav-font a {
  font-size: 2vw;
}

.nav-calc-font {
  font-size: calc(10px + 14 * (100vw - 320px) / 800);
}

.nav-shadow {
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}

.nav-width {
  min-width: 100vw;
}

.nav-height {
  min-height: 10vh;
}

.nav-li-width {
  min-width: 33vw;
}

.padding-main {
  padding-bottom: 5vh;
}

.pointer {
  cursor: pointer;
}

.title-line-hgt {
  line-height: 2rem;
}

.card-select:hover {
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}

.h-100vh {
  min-height: 100vh;
}

body {
  margin: 0;
  min-height: 100vh;
  padding: 0;
}

.wrapper {
  display: flex;
}

.cities {
  align-content: flex-start
}